body{
    padding: 4% 8%;
    font-family: "Montserrat", serif;
    font-weight: 350;
    font-style: normal;
    background-color: #FFFDF9;
    color: #463429;
    background-image: url(images/portal-bgImg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#container{
    display: flex;
    flex-direction: column;
    gap: 42px;
}

h1, h2{
    font-weight: 400;
    margin: 0;
}

h1{
    font-size: 3em;
}

p{
    margin: 0;
    line-height: 1.8em;
}

a{
    text-decoration: none;
    padding: 4px 12px;
    border-radius: 100px;
    transition: 0.5s;
    color: #463429;
}

a:hover{
    transition: 0.5s;
    background-color: rgba(255, 250, 241, 0.6);
    box-shadow: 0px 0px 12px 3px rgba(255,245,227,0.56);

}

#main-text p{
    font-size: 1.6em;
}

#main-text{
    text-align: center;
    margin-top: 72px;
}

#projects{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    flex: 1;
}

section{
    background-color:rgba(244, 194, 193, 0.61);
    padding: 24px 32px;
    border-radius: 15px;
    flex: 1;
    transition: 1s;
    border: 2px #FFF5E3 solid;
    min-width: 220px;
}

section:hover{
    border: solid #F4C2C1 2px;
    transition: 1s;
    
}

.icon-header{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
    justify-content: center;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.1em;
}

ul li{
    margin-top: 8px;
}

#wiggle1, #wiggle2, #wiggle3, #wiggle4{
    background-repeat: no-repeat;
    position: fixed;
    width: 500px;
    height: 200px;
    z-index: -1;
    filter: blur(2px);
    animation: wiggle 8s infinite;
}

#wiggle1{
    background-image: url(images/portal-lines1.png);
    bottom: -50px;
    left: -30px;
}

#wiggle2{
    background-image: url(images/portal-lines2.png);
    top: -60px;
    right: -90px;
}

#wiggle3{
    background-image: url(images/portal-lines3.png);
    bottom: 150px;
    right: -150px;
}

#wiggle4{
    background-image: url(images/portal-lines4.png);
    width: 600px;
    height: 200px;
    top: 150px;
    left: -240px;
}

@keyframes wiggle {
    0% {
      transform: translatey(0);
      filter: blur(2px);
    }
    50% {
      transform: translate(-12px, -20px);
      filter: blur(3px);
    }
    75% {
      transform: translate(10px, 18px);
      filter: blur(4px);
    }
    100% {
      transform: translatey(0);
      filter: blur(2px);
    }
}


#bg-shape1, #bg-shape2, #bg-shape3{
    border-radius: 9999px;
    position: fixed;
    z-index: -2;
    filter: blur(10vw);
}

#bg-shape1{
    width: 50vw;
    height: 50vw;
    top: 0;
    left: 0;
    background-color: #F4C2C1;
    opacity: 0.6;
    animation: one 14s linear infinite alternate;
}

#bg-shape2{
    width: 70vw;
    height: 70vw;
    top: 500px;
    right: -200px;
    background-color: #FFE7CB;
    opacity: 0.6;
    animation: two 14s linear infinite alternate;
}

#bg-shape3{
    width: 40vw;
    height: 40vw;
    top: -100px;
    right: -200px;
    background-color: #FADADD;
    animation: three 14s linear infinite alternate;
}

@keyframes one{
    0%{left: -5vw; top: 0vw;}
    25%{left: 10vw; top: 10vw;}
    50%{left: 0vw; top: 0vw;}
    75%{left: 15vw; top: 10vw;}
    100%{left: 0vw; top: 0vw;}
}

@keyframes two{
    0%{right: -5vw; top: 40vw;}
    25%{right: 10vw; top: 50vw;}
    50%{right: 0vw; top: 40vw;}
    75%{right: 15vw; top: 55vw;}
    100%{right: 0vw; top: 45vw;}
}

@keyframes three{
    0%{right: -5vw; top: -10vw;}
    25%{right: 10vw; top: 5vw;}
    50%{right: 0vw; top: -10vw;}
    75%{right: -5vw; top: 5vw;}
    100%{right: 0vw; top: -10vw;}
}



@media only screen and (min-width: 1100px){
    #container{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    #main-text{
        text-align: right;
        justify-content: flex-end;
    }

    #projects{
        flex-wrap: nowrap;
        flex-direction: column;
        max-width: 50%;
        gap: 42px;
    }

    #main-text p{
        font-size: 2em;
    }

    h1{
        font-size: 3.5em;
    }

    .icon-header{
        font-size: 1.2em;
        justify-content: left;
    }

    ul{
        justify-content: left;
    }
}