body{
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    color: #704436;
    /* font-size: 1.5em; */
    /* padding: 60px; */
}


/* typography */
span{
    font-family: "Sacramento", cursive;
    font-weight: 400;
  
}

h1, h2, p{
    margin: 0;
}


h2{
    font-size: 1em;
    margin-bottom: 8px;
}

li, p{
    font-size: 1.3em;
}


main{
    display: flex;
}


/* buttons */
button{
    width: fit-content;
    border-radius: 100px;
    background-color: #704436;
    font-size: 1.5em;
    border: none;
    color: white;
    padding: 4px 24px;
}


button:hover{
    cursor: pointer;
}


/* sidebar */
#sidebar{
    background-color: cadetblue;
    width: 450px;
    padding: 40px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    gap: 40px;
}

#sidebar h1{
    text-align: center;
}

#sidebar span{
    font-size: 2em;
}

#bento{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.player, #key, #time-score section{
    background-color: white;
    padding: 20px;
    border: solid 4px #704436;
    border-radius: 20px;
}

.player{
    text-align: left;
}

.player-name{
    display: flex;
    gap: 12px;
    align-items: center;
}

#player-icon{
    width: 50px;
    height: auto;
}

#time-score{
    display: flex;
    gap: 24px;
    
}

#time-score section{
    width: 100%;
}


#key ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#key ul li{
    display: flex;
    align-items: center;
    gap: 8px;
}

.key-icon{
    display: block;
    width: 25px;
    height: auto;
}



#playmat{
    background-image: url(images/playmat.png);
    margin: auto;
    width: 630px;
    height: 630px;
    border: solid 5px #704436;
    border-radius: 20px;
}


/* title screen */
#title-screen{
    padding: 40px;
}


/* ending screen */
#ending{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 36px;
    align-items: center;
    height: 100vh;
    width: 100vw;
    justify-content: center;
}

.score-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#ending .player{
    width: 350px;
}

#ending span{
    font-size: 3em;
}

#results{
    display: flex;
    flex-direction: column;
    gap: 16px;
}


/* background patterns */
.rila-bg{
    background-color: #FCF6EC;
    background-image: url(images/rila-bg.jpg);
}

.korila-bg{
    background-color: #FCECED;
    background-image: url(images/korila-bg.jpg);
}