body{
    background-image:url(images/madlibs-bg.jpg);
    font-family: "Jua", serif;
    color: #480D0D;
    
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 42px;
}

main{
    margin: 100px 0;
}

img{
    display: block;
    width: 30vw;
    height: auto;
    object-fit: contain;
    margin: auto;
}

h1{
    font-family: "Cherry Bomb One", serif;
    text-align: center;
    font-size: 10vw;
    padding: 0 4%;
}

button{
    background-color: #480D0D;
    padding: 8px 20px;
    border-radius: 100px;
    color: white;
    font-family: "Cherry Bomb One", serif;
    font-size: 1.2em;
}

form{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    gap: 42px;

}

input{
    background-color: #FFFBFB;
    height: 32px;
    border-radius: 10px;
    border: solid 2px #FFD7D7;
    padding: 0 8px;
    width: 160px;
}
   

/* input[type=text]:focus {
    border: red solid 2px;
} */

#questions{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.fields{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 8px;
}

#submit-button{
    margin-left: auto;
}


#madlibs-questions{
    display: flex;
    justify-content: center;
}

#lace-top{
    background-image: url(images/lace.png);
    height: 120px;
    width: 100vw;
    position: fixed;
    rotate: 180deg;
    top: -28px;
    /* z-index: -1; */
}

#lace-bottom{
    background-image: url(images/lace.png);
    height: 120px;
    width: 100vw;
    position: fixed;
    bottom: -28px;
    /* z-index: -1; */
}

/* @media only screen and (min-width: 460px){
    img{
        width: 30vw;
    }
} */

@media only screen and (min-width: 1000px){
    h1{
        font-size: 5em;
    }

    input{
        width: 180px;
    }

    #container{
        flex-direction: row;
        padding: 0 4vw;
        align-items: center;
    }

    img{
        width: 25vw;
    }


    #questions{
        justify-content: space-between;
    }
}


@media only screen and (min-width: 1320px){
    #container{
        flex-direction: row;
        padding: 0 10vw;
        gap: 100px;
    }

    img{
        width: 20vw;
        margin: 0;
    }
}